ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/CodeChunks.db
ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/SemanticSymbols.db
ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
ProjectEuler/.vs/ProjectEuler/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
ProjectEuler/.vs/ProjectEuler/FileContentIndex/1789db13-2319-4208-be2e-8665b136568c.vsidx
ProjectEuler/.vs/ProjectEuler/FileContentIndex/746ba165-9517-46db-a9c5-db6d1c62ec6c.vsidx
ProjectEuler/.vs/ProjectEuler/v17/Browse.VC.db
ProjectEuler/.vs/ProjectEuler/v17/Browse.VC.db-shm
ProjectEuler/.vs/ProjectEuler/v17/Browse.VC.db-wal
ProjectEuler/.vs/ProjectEuler/v17/Browse.VC.opendb
ProjectEuler/.vs/ProjectEuler/v17/ipch/AutoPCH/cd0516b38b52fcf7/Q1.ipch
ProjectEuler/ProjectEuler/ProjectEuler.vcxproj
ProjectEuler/ProjectEuler/ProjectEuler.vcxproj.filters
ProjectEuler/ProjectEuler/ProjectEuler.vcxproj.user
ProjectEuler/ProjectEuler.sln
*.vsidx
*.json
ProjectEuler/.vs/ProjectEuler/v17/.suo
*.lastbuildstate
*.obj
*.idb
*.pdb
*.exe
*.tlog
*.log
*.ilk
*.recipe
